body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;

}
 
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-wrap;
    gap: 20px;
    justify-content: center
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1 1 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}

.card :hover {
    transform: translateY(-5px);
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 150px;
    object-fit: contain;
}

.card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1;
}

.card span {
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
    display: block;
    margin-bottom: 15px;
}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    transition: background-color 0.2s;

}

.card button:hover {
    background-color: #0056b3;
}
